body{
    margin: 0;
    padding: 0;
}

button{
    border-radius: 4px;
    font-size: 1em;
}

h1{
    font-family: sans-serif;
}

#moving_bg{
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-image: url("../media/rainbow.gif");
    background-repeat: repeat;
    display: flex;
}

#still_bg{
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
}

.container{
    width: 100vw;
    font-size: 1.7em;
    color: white;
    text-align: justify;
    margin: auto 10vw;
    padding: 1% 5%;
}

.instructions{
    margin: auto;
    text-align: center;
}

.footnote{
    margin-top: 0;
    font-size: 0.7em;
}

.small-button{
    font-size: 0.6em;
}