body{
    margin: 0;
    padding: 0;
}

#moving_bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../media/background.gif");
    background-repeat: repeat;
}

#still_bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #441f6b;
}

.container{
    font-size: 1.7em;
    color: white;
    text-align: justify;
    margin: 0 10vw;
    padding: 1% 5%;
}

.main_page{
    text-align: center;
}